<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>같이하실Log</title>
  </head>

  <body>
    <form>
      <label for="passcode">비밀번호</label>
      <input type="number" id="passcode">
      <button type="button" id="queryToday">오늘 로그 조회</button>
    </form>
    <div id="log-container"></div>

    <script src="/static/main.js"></script>
  </body>
</html>